@import url('https://font.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
body{
	margin: 0;
	padding: 0;
	font-family: "Poppins";
}
/*------------ Header navigasi ---------------*/
.navbar{
	position: fixed;
	height: 80px;
	overflow: hidden;
	top: 0;
	display: flex;
	align-items: center;
	background: rgb(255, 255, 255);
	width: 100%;
	z-index: 99999;
}
.logo{
	background: url(img/logo.png) no-repeat 50% 50%;
	background-size: contain;
	width: 250px;
	height: 100px;
	margin-left: 0px;
	float: left;
	cursor: pointer;
	
}
.menu{
	position: absolute;
	right: 20px;
}
.menu a{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	border: none;
	text-align: center;
	color: #444;
	text-decoration: none;
	font-size: 16px;
	font-family: arial;
	font-weight: 700;
	margin-left: 30px;
	transition: color 0.3s;
	text-transform: uppercase;
}
.menu a:hover
{
	color: #3dccdc;
}
.btn{
	display: none;
	position: absolute;
	right: 20px;
	background-color: rgb(245, 245, 245);
}
.btn:hover > span{
	background: #3dccdc;
}
.btn span{
	display: block;
	margin: 8px;
	width: 40px;
	height: 3px;
	background: #666;
	color: #3dccdc;
}

/*--------------  Responsive Navbar  --------------*/
@media only screen and (max-width : 860px) {
	.navbar{
		overflow: visible;
	}
	.menu{
		width: 100%;
		right: 0;
		top: 80px;
		background: #f1f1f1;
		overflow: hidden;
		max-height: 0;
	}
	.menu a{
		width: 100%;
		display: block;
		text-align: center;
		padding: 10px;
		margin: 0;
	}
	.btn{
		display: block;
		cursor: pointer;
	} 
	.show{
		max-height: 500px;
		background: rgba(236, 236, 236, 0.90);
	}
}

/*--------------- Home & Poster ------------------*/
.poster{
	width: 100%;
	background: url(img/web.png) no-repeat 50% 50%;
	background-size: cover;
	height: 620px;
}
.float-poster{
	width: 50%;	
	float: left;
}
.float-poster h1{
	margin-top: 200px;
	margin-left: 70px;
	color: white;
	font-size: 40px;
}
.float-poster h2{
	margin-top: -15px;
	margin-left: 70px;
	font-size: 35px;
	color: white;}
.button-start{
	margin-left: 100px
}
.button-start h3{
	margin-top: 100px;
	margin-left: 50px;
	display: inline-block;
	width: 150px;
	height: 45px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 30px;
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 45px;
	text-transform: uppercase;
	z-index: 999;

}
.float-poster h3:hover{
	transition: 0.3s;
	border: 1px solid
	#1e90ff;
	background-color: #1e90ff;
	cursor: pointer;
}
.gambar {
	width: 50%;
	float: right;
}  
.gambar img{
	margin-top: 100px;
}
@media (max-width : 1180px) {
	.poster{
		overflow: hidden;
	}
	.gambar img{
		margin-top: 130px;
		width: 90%;
	}
	}
@media (max-width: 1030px){
	.button-start h3{
		margin-top: 50px;
		margin-left: 20px;
	}
	.poster .float-poster h1{
		font-size: 30px;	
	}
	.poster .float-poster h2{
		font-size: 25px;
	}
}
@media (max-width: 900px){
	.button-start h3{
		font-size: 15px;
		margin-left: 10px;
	}
}
@media (max-width: 873px){
	.button-start h3{
		font-size: 15px;
		margin-left: 5px;
		padding: 1px;
	}
}
@media (max-width: 830px){
	.button-start h3{
		font-size: 15px;
		margin-left: 3px;
		padding: 0.5px;
	}
	.button-start{
		margin-left: 25px
}
}
@media (max-width: 500px){
	.gambar{
		overflow: hidden;
		margin-top: -550px;
		margin-right: 100px;
		margin-bottom: 20px;
	}
	.float-poster{
		margin-top: 120px;
		width: 100%;

	}
}
@media (max-width: 550px){
	.button-start{
		margin-left: 75px;
}
}
/*------------- About & Poster 2 ----------------*/
	/* .about-main{padding: 60px 0;} */
	.about-main .about-width{
		max-width: 100%;
		margin: auto;
		padding: 0 20px;
		overflow: hidden:
	}
	.about-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.box-about .poster2{
		margin-top: -10px;
	}
	.box-about{
		width: 611px;
		height: auto;
		display: inline-block;
		max-width: 100%;
		padding: 10px;
		color: #000;
		margin-left: 0px;
		background-color: #ffffff;
	}
	.box-about h1{
		text-align: center;
		margin-top: 15px;
	}
	.box-about .isi-about{
		margin-left: 5px;
		margin-right: 10px;

		margin-top: 10px;
		padding: 0.3pt;
		box-shadow: 0 0 3px rgba(10, 10, 10, 0.336);
		border-radius: 3px;
	}
	.box-about .isi-about h4{
		padding-left: 10px ;
		text-transform: uppercase;
	}
	.box-about .isi-about p{
		margin-top: -20px;
		padding-left: 10px ;
	}
	
	@media(max-width: 630px){
		.box-about{
			width: 80%;
			position: center;
		}
		p{
			margin-top: -10px;
		}
		}
	@media(max-width: 630px){
		.poster2{
			width: 112%;
			margin-top: 50px;
			margin-left: -20px;
			}
		}
	/* @media(max-width: 630px){
		.naik{
		
			margin-top: -20px;
		
			}
		} */



/*----------------- Ourservice ----------------*/

.services-section{
	background: url(bg.jpg);
	background-size: cover;
	padding: 60px 0;
}
.services-section .inner-width{
/*	width: 100%;*/
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	overflow: hidden;
}
.services-section .inner-width .section-title{
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 30px;
}
.services-section .inner-width .border{
	width: 160px;
	height: 2px;
	background: #1e90ff;
	margin: 40px auto;
}
.service-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.service-box{
	display: inline-block;
	max-width: 31.33%;
	padding: 10px;
	text-align: center;
	color: #000;
	cursor: pointer;
}
.service-icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid #1e90ff;
	color: #1e90ff;
	transform: rotate(45deg);
	margin-bottom: 30px;
	margin-top: 16px;
}
.service-icon i{
	line-height: 70px;
	transform: rotate(-45deg);
	font-size: 35px;
}
.service-box:hover .service-icon{
	background: #1e90ff;
	color:#fff;
}
.service-title{
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.service-desc{
	width: 300px
	font-size: 18px;
}
@media screen and (max-width: 890px){
	.service-box{
		max-width: 45%;
	}
}
@media screen and (max-width: 500px){
	.service-box{
		max-width: 100%;
	}
}

/*--------------------- Product ----------------*/
/* .product-main{padding: 60px 0;} */

.product-main .product-width{
	max-width: 100%;
	margin: auto;
	padding: 0 20px;
	overflow: hidden:
}
.product-title{
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 30px;
}
.hr-product{
	width: 160px;
	height: 2px;
	background: #1e90ff;
	margin: 40px auto;
}
.product-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.box-product{
	width: 300px;
	display: inline-block;
	max-width: 100%;
	padding: 10px;
	color: #000;
	margin: 10px;
	box-shadow: 0px 0px 5px #000;
}
.box-product h1{
	font-size: 26px;
}
.box-product h2{
	font-size: 22px;
}
.box-product .gold{
	color: #ffd700;
}
.box-product .silver{
	color: 	#808080;
}
.box-product .platinum{
	color: #a47572;
}
.box-product .diamond{
	color: #88c7d4;
}
.box-product h1,h2{
	text-align: center;
}
.box-product p{
	font-size: 15px;
}
.box-product a{
	width: 20px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #1e90ff;
	padding: 5px;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 5px;
	cursor: pointer;
}

/*------------- Portofolio -----------------*/
.portofolio-main .portofolio-width{
	max-width: 100%;
	margin: auto;
	padding: 0 20px;
	overflow: hidden:
}
.portofolio-title{
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 30px;
}
.hr-portofolio{
	width: 160px;
	height: 2px;
	background: #1e90ff;
	margin: 40px auto;
}
.portofolio-container{
	/* display: flex;
	flex-wrap: wrap; */
	margin-left: 20px;
	margin-right: 20px;
	/* justify-content: center; */
}
.portofolio-container .portofolio-gambar{
	display: inline-block;
}
.portofolio-container img{
	margin: 5px;
	border-radius: 10px;
	box-shadow: 0 0 5px #000000;
}

/*-------------------- TEAM ------------------*/
.team-main{
	padding: 60px 0;
	}
.team-width{
	max-width: 100%;
	margin: auto;
	padding: 0 20px;
	overflow: hidden:
}
.team-title{
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 30px;
}
.hr-team{
	width: 160px;
	height: 2px;
	background: #1e90ff;
	margin: 40px auto;
}
.team-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.team-box{
	display: inline-block;
	max-width: 100%;
	padding: 10px;
	text-align: center;
	color: #000;	
	margin: 10px;
	box-shadow: 0px 0px 20px #000;
}
.team-main .team-width .team-container .team-box:hover{

		transition: 0.3s;
}
.team-main .team-width .team-container .img1{
	border: 5px solid #3dccdc;
	box-shadow: 0px 0px 20px #3dccdc;
}
.team-main .team-width .team-container .img3{
	border: 5px solid #ff6b81;
	box-shadow: 0px 0px 20px #ff6b81;
}
.team-main .team-width .team-container .img2{
	border: 5px solid #ffa502;
	box-shadow: 0px 0px 20px #ffa502;
}
.team-main .team-width .team-container .img4{
	border: 5px solid #eccc68;
	box-shadow: 0px 0px 20px #eccc68;
}

/* ------------------ Responsive Team ------------  */

@media(max-width: 960px){
	.team-box{
		width: 40%;
		position: center;
		margin-bottom: 30px;
	}
@media(max-width: 630px){
	.team-box{
		width: 80%;
	}
}


/*------------- Contact -----------*/
